<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SNAPTRAVEL</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="SNAPTRAVEL" />
	<meta name="keywords" content="SNAPTRAVEL" />

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- Theme style  -->
	<!-- <link rel="stylesheet" th:href="@{/css/style.css}">  -->

</head>

<body>
	<div>
	<table>
	  <thead>
		<tr>
			<th>Hotel ID</th>
			<th>Hotel Name</th>
			<th>Number of Reviews</th>
			<th>Address</th>
			<th>Number of Stars</th>
			<th>Amenities</th>
			<th>Image</th>
			<th>SnapTravel Price</th>
			<th>Hotel.com Price</th>
		</tr>
	  </thead>
	  <tbody>
		<tr th:each="h:${hotels}" >
			<td th:text="${h.hotelId}" />
			<td th:text="${h.hotelName}"/>
			<td th:text="${h.numReviews}" />
			<td th:text="${h.address}" />
			<td th:text="${h.numStars}" />
			<td th:text="${h.amenities}" />
			<td> <img th:src="${h.imageUrl}" />  </td>
			<td th:text="${h.stPrice}" />
			<td th:text="${h.rePrice}" />
		</tr>
	  </tbody>
	</table>
	</div>

	<!-- MAIN JS -->
	<script th:src="@{/js/main.js}"></script>
</body>
</html>
