<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SNAPTRAVEL</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="SNAPTRAVEL" />
	<meta name="keywords" content="SNAPTRAVEL" />

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- Theme style  -->
	<!-- <link rel="stylesheet" th:href="@{/css/style.css}">  -->

</head>

<body>
	<!-- Page content -->
	<form>
	  City: <br> <input type="text" name="city" id="city"><br>
	  Check In: <br> <input type="text" name="checkin" id="checkin"><br>
	  Check Out: <br> <input type="text" name="checkout" id="checkout"><br>
	</form>
	<button type="submit" onclick="submit();">Submit</button>
	<!-- End page content -->

	<!-- MAIN JS -->
	<script th:src="@{/js/main.js}"></script>
</body>
</html>
